# TESTE WEB SCRAPPING

## TABELA - CAMPEONATO BRASILEIRO

In [ ]:
import pandas as pd
import requests
import bs4 as bs

header = {'User-Agent': 'Mozilla/5.0 (windows NT 10.0; win64; x64) Applewebkit/537.36 \ (KHTML, like Gecko) chrome/103.0.0.0 Safari/s37.36'}
url = r'https://www.espn.com.br/futebol/classificacao/_/liga/bra.1'
request = requests.get(url, headers=header)

df = pd.read_html(request.text)
print(df)

In [ ]:
Times = pd.DataFrame(df[0])
Pontos = pd.DataFrame(df[1])

Times.loc[Times['2023'] == '1BOTBotafogo', '2023'] = 'Botafogo'
Times.loc[Times['2023'] == '2PALPalmeiras', '2023'] = 'Palmeiras'
Times.loc[Times['2023'] == '3SAOSão Paulo', '2023'] = 'São Paulo'
Times.loc[Times['2023'] == '4CAMAtlético-MG', '2023'] = 'Atlético-MG'
Times.loc[Times['2023'] == '5GREGrêmio', '2023'] = 'Grêmio'
Times.loc[Times['2023'] == '6CRUCruzeiro', '2023'] = 'Cruzeiro'
Times.loc[Times['2023'] == '7FLAFlamengo', '2023'] = 'Flamengo'
Times.loc[Times['2023'] == '8FLUFluminense', '2023'] = 'Fluminense'
Times.loc[Times['2023'] == '9FORFortaleza', '2023'] = 'Fortaleza'
Times.loc[Times['2023'] == '10BRARed Bull Bragantino', '2023'] = 'Red Bull Bragantino'
Times.loc[Times['2023'] == '11CAPAthletico-PR', '2023'] = 'Atlético-PR'
Times.loc[Times['2023'] == '12SANSantos', '2023'] = 'Santos'
Times.loc[Times['2023'] == '13INTInternacional', '2023'] = 'Internacional'
Times.loc[Times['2023'] == '14CORCorinthians', '2023'] = 'Corinthians'
Times.loc[Times['2023'] == '15CUICuiabá', '2023'] = 'Cuiabá'
Times.loc[Times['2023'] == '16BAHBahia', '2023'] = 'Bahia'
Times.loc[Times['2023'] == '17GOIGoiás', '2023'] = 'Goiás'
Times.loc[Times['2023'] == '18VASVasco da Gama', '2023'] = 'Vasco da Gama'
Times.loc[Times['2023'] == '19AMGAmérica-MG', '2023'] = 'América-MG'
Times.loc[Times['2023'] == '20CFCCoritiba', '2023'] = 'Coritiba'

tabela = Times.merge(Pontos, how='inner', left_index=True, right_index=True)
tabela.reset_index(drop=True, inplace=True)
tabela.index = Times.index + 1
tabela.rename(columns={'2023': 'Times'})

# PESQUISA DE PREÇOS

In [ ]:
import requests
from bs4 import BeautifulSoup

url = "https://www.americanas.com.br/busca/notebook?limit=24&offset={}"

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.198 Safari/537.36"
}

notebooks = []
pages = range(0, 8, 1)

for page in pages:
    page_url = url.format(page)
    response = requests.get(page_url, headers=headers)
    soup = BeautifulSoup(response.content, "html.parser")
    products = soup.find_all("h3", class_="product-name__Name-sc-1shovj0-0 gUjFDF")

    for product in products:
        notebook_name = product.get_text().strip().replace("Notebook ", "")
        notebooks.append(notebook_name)

    print(f"Page {page_url} done.")
    print(notebook_name)

# ARTILHARIA EUROPEIA

In [1]:
import pandas as pd
import requests
import bs4 as bs

header = {'User-Agent': 'Mozilla/5.0 (windows NT 10.0; win64; x64) Applewebkit/537.36 \ (KHTML, like Gecko) chrome/103.0.0.0 Safari/s37.36'}
url = r'https://www.espn.com.br/futebol/estatisticas/_/liga/ENG.1/temporada/2022'
Inglaterra = requests.get(url, headers=header)

PremierLeague = pd.read_html(Inglaterra.text)
artilharia_eng = pd.DataFrame(PremierLeague[0])
assistencias_eng = pd.DataFrame(PremierLeague[1])

url = r'https://www.espn.com.br/futebol/estatisticas/_/liga/ESP.1/temporada/2022'
Espanha = requests.get(url, headers=header)

Laliga = pd.read_html(Espanha.text)
artilharia_esp = pd.DataFrame(Laliga[0])
assistencias_esp = pd.DataFrame(Laliga[1])

url = r'https://www.espn.com.br/futebol/estatisticas/_/liga/ITA.1/temporada/2022'
Italia = requests.get(url, headers=header)

Calcio = pd.read_html(Italia.text)
artilharia_ita = pd.DataFrame(Calcio[0])
assistencias_ita = pd.DataFrame(Calcio[1])

url = r'https://www.espn.com.br/futebol/estatisticas/_/liga/FRA.1/temporada/2022'
França = requests.get(url, headers=header)

Ligue_1 = pd.read_html(França.text)
artilharia_fra = pd.DataFrame(Ligue_1[0])
assistencias_fra = pd.DataFrame(Ligue_1[1])

url = r'https://www.espn.com.br/futebol/estatisticas/_/liga/uefa.champions'
Champions_league = requests.get(url, headers=header)

Champions = pd.read_html(Champions_league.text)
artilharia_champions = pd.DataFrame(Champions[0])
assistencias_champions = pd.DataFrame(Champions[1])

url = r'https://www.espn.com.br/futebol/estatisticas/_/liga/uefa.europa'
Europa_league = requests.get(url, headers=header)

Eur_league = pd.read_html(Europa_league.text)
artilharia_euro_league = pd.DataFrame(Eur_league[0])
assistencias_euro_league = pd.DataFrame(Eur_league[1])

In [3]:
# Concatenar os DataFrames verticalmente
Artilharia_geral = pd.concat([artilharia_eng, artilharia_esp, artilharia_ita, artilharia_fra, artilharia_champions,artilharia_euro_league])

# Agrupar por nome e somar os valores da coluna 'G'
Artilharia_geral = Artilharia_geral.groupby('Nome').sum().reset_index()

# Ordenar o DataFrame resultante com base na coluna 'G' em ordem decrescente
Artilharia_geral.sort_values('G', ascending=False, inplace=True)

# Redefinir a coluna 'POS' para iniciar do número 1
Artilharia_geral['POS'] = range(1, len(Artilharia_geral) + 1)

# Reordenar as colunas
Artilharia_geral = Artilharia_geral[['POS', 'Nome', 'P', 'G']]

# Mostrar o DataFrame resultante
display(Artilharia_geral)


#haaland_soma_6 = artilharia_euro_league.loc[artilharia_euro_league['Nome'] == 'Erling Haaland']
#print(artilharia_euro_league)

     POS                Nome   P   G
77     1      Erling Haaland  46  48
138    2       Kylian Mbappé  42  36
249    3      Victor Osimhen  38  31
104    4          Harry Kane  38  30
210    5  Robert Lewandowski  39  28
..   ...                 ...  ..  ..
250  262      Vincenzo Grifo   8   2
153  263         Luka Modric  10   2
24   264       António Silva  10   2
140  265        Lazare Imani   9   2
231  266      Sergio Canales   8   2

[266 rows x 4 columns]